.test/benchmarks/**
.test/logs/**
.test/results/**
.test/resources/**
.test/.snakemake/**
benchmarks/**
logs/**
resources/**
results/**
.snakemake/**
unexpected_tombo_errors*
*.pdf
*.pyc
*core-dump-db/
__pycache__/